body{
    font-family: 'poppins',sans-serif;
    font-size: 25px;
    margin: 0%;
}


h1{
    font-size: 50px;
}

.orange-color{

    color: orange;
    
}

.flex{
    display: flex;
    padding-left: 6%;
    

}
.half-width
{
    width: 60%;
 
}




.half-width img
{
    width: 80%;
    padding-right: 0px;
    
}
.buttonlink
{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato); 
    color: aliceblue;  
    font-weight: 700px;
    padding: 10px 20px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.side-banner{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: right;

}
h4{

    color: orange;
}
.ex-area{
    display: flex;
    margin-bottom: 150px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: 50px;
}
.box-s{
    
    
    margin-left: 4%;
    margin-right: 4%;
    padding: 20px;
    
    box-shadow: 10px 10px 40px #888888;

    

}
.bg-img{
    border-left: 7px solid;

    border-image: linear-gradient(blue,cyan);
    border-image-slice:1;
}